language: cpp
sudo: false
cache:
  directories:
  - container
env:
  matrix:
  - CMAKE_GENERATOR="Unix Makefiles" CMAKE_VERSION="latest" DEPLOY="1"
  - CMAKE_GENERATOR="Ninja" CMAKE_VERSION="latest"
  - CMAKE_GENERATOR="Unix Makefiles" CMAKE_VERSION="3.0"
  - CMAKE_GENERATOR="Ninja" CMAKE_VERSION="3.0"
  - CMAKE_GENERATOR="Unix Makefiles" CMAKE_VERSION="latest" COVERAGE="--use-cmake-coverage"
  global:
  - secure: XxdJL0fB2xZjjD7PtpSstpBXIL2veN6EQ12VA2CCC7CBukcBK+AvixWK4R/zXiXt3LhVHvBtMIrfqDEQ8HaAYrArQ1au5lBm4KVsRKJ//gdLEM1iOV6nxVTp2HQ3eF5UjSbxFKtkCxbPl6cTBE57Dm0OZAVQveYmlkq8fJqDamE=
  - secure: E1v1dLzimKnJaP5E6A/Np1tXsPiESNVhH/zFWeMOd4j0Usm0HFuHqIrB3Twk+AUZcUgDzCfb4mY9fjHp7fy6beXVJ0YPjNxHU4Xc4uBFWBDdXbvR+j2JC4zBjnwu6oeTuEY2iJO1+0aNI1HiBKyx7jP57fT6rK2hW0HnVkgfXyg=
  - secure: erF4biObUxe95aZ+C/katKszQQCXDosEjDtk3Hn5I37dPrXEZ/2n6umEOrlWPHZ+3FYc6MvBzv7Me9bZODsgDVFoyNMp8u0uzxV36ZUc0Y6SX22099+85wtPZimnP9A3M7ywoy+9FM7tHLBeAEyzv1M/Odc1T5JRIRgWAk/QSEA=
addons:
  apt:
    sources:
    - deadsnakes
    packages:
    - python3.4-dev
install:
- eval $(curl -LSs --retry 100 --connect-timeout 3 public-travis-scripts.polysquare.org/bootstrap.py
  | python /dev/stdin -d container -s setup/conan/setup.py -e bash -p /dev/stdout
  --cmake-version ${CMAKE_VERSION})
script:
- polysquare_run check/conan/check.py ${COVERAGE} --cmake-namespace psq --generator
  "${CMAKE_GENERATOR}"
before_cache:
- polysquare_cleanup
after_success:
- polysquare_run coverage/cmake/coverage.py
before_deploy:
- polysquare_run deploy/conan/before_deploy.py --package="tooling-cmake-util"
deploy:
  provider: script
  skip_cleanup: true
  script: "./travis-deploy"
  on:
    repo: polysquare/tooling-cmake-util
    branch: master
    condition: "${DEPLOY} = 1"
